<div id="site-footer">
  <small>
    Statting, Copyright <%= Time.now.year %>

    <br>

    <b>If you like this site, please consider donating to <a href="bitcoin:16ENCRHBtSfDSJeE8TVTqcY9L5eXdiHJWg">16ENCRHBtSfDSJeE8TVTqcY9L5eXdiHJWg</a></b>
  </small>
</div>