<h2>About</h2>
Stating is a small weekend project that aims getting a better user interactivity with CoinShift data.

We store some of the CoinShift data for better querying and getting more info about our mining strategies. Please note that this project is not responsible for any data loss.

<h2>Technologies</h2>

Statting is a Rails application with some background workers. In the meantime Statting is not open source, but I plan to put it on GitHub soon.

<h2>Work in Progress (aka TODO)</h2>

<ul>
  <li>Real time updates (no need to refresh)</li>
  <li>Email notifications</li>
  <li>Average values (hashrate, balance, etc)</li>
</ul>

<h2>Development</h2>

Statting is a weekend project that I work for fun. I don't know how much time I'm going to take to implement new features to it, so please be patient :)

<h2>License</h2>

Statting is under the "No License" license. For more information check the <a href="http://choosealicense.com/licenses/no-license/" target="_blank">license info on choosealicense.com</a>

<h2>Contact</h2>

If you want to share some thoughts about statting, please, use the <a href="http://www.reddit.com/r/coinshift">CoinShift subReddit</a> or <a href="http://twitter.com/tiagocis">send me a tweet</a>

<br>
<br>