<h1>Statting</h1>
<div class="panel panel-default">
  <div class="panel-body">
    Welcome.

    <br>

    Statting is a project that aims to show detailed statistics of the CoinShift Pool.
  </div>
</div>

<h2>CoinShift Graphs</h2>

<%= render 'shared/coinshift_graphs' %>